@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

.theme-dark {
    --bg: hsl(207, 26%, 17%);
    --text-color: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    background-color: var(--bg);
    color: var(--text-color);
}

.container {
    margin: 0 auto;
    height: auto;
}

.flex-container {
    display: flex;
}

.header-container {
    align-items: center;
}

.header-container > h1:first-child {
    flex-grow: 1;
}

.main-container {
    width: 1440px;
}

